alias mute="pactl set-sink-mute 0 toggle"
alias lv="pactl set-sink-volume 0 -10%"
alias rv="pactl set-sink-volume 0 +10%"
alias i3="nano ~/.config/i3/config"
alias dssh="ssh-add ~/.ssh/id_rsa"
alias rdb="java -cp programs/wildfly-19.0.1.Final_persistent/modules/system/layers/base/com/h2database/h2/main/h2-1.4.193.jar: org.h2.tools.Server -baseDir ~/db"
alias gsp="cd program && mvn clean test; cd .."
alias set_jdk_11="sudo archlinux-java set java-11-openjdk"
alias gfo="git fetch origin"
alias clip="xclip -sel clip"
alias cpwd="$PWD | xclip -sel clip"
alias venv="source venv/bin/activate"
alias env="source env/bin/activate"
alias vf='vim $(fzf)'
alias dmv="mv /home/mars/Downloads/$(ls -Art /home/mars/Downloads | tail -n 1) "
